{
    "presets": [
      [
        "env",
        {
          "targets": {
            "node": "8.9.3"
          },
          "useBuiltIns": true,
          "exclude": [
            "babel-plugin-transform-regenerator",
            "transform-async-to-generator"
          ]
        }
      ]
    ],
    "plugins": [
      "array-includes"
    ]
  }