**/*.md
**/demo/**
**/test/**
**/*play-element*.html
**/*.png
**/*.jpeg
**/*.jpg
**/*.gif
**/*.ico
**/*.svg
**/*pebble-graph-gauge*.html
**/socket.io.min.js
**/falcor.browser.min.js
**/falcor.browser.js
**/*d3.v3.min.js
**/index_source.hjs
**/index.hjs
**/log4javascript.js
**/jquery-slim.js
**/fileDownloader.js
**/Base64.js
**/quill.js
**/quill.core.js
modulizer_out
polymer-overrides


