{
  "printWidth": 120,
  "tabWidth": 2,
  "parser": "babylon",
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "filepath": "src/srcipts/*.js"
}